<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Son Of Cod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header-wrapper">
        <div class="header-top">
            <div class="sized-container">
                <ul class="nav-top">
                    <li>
                        <a href="#">Recipes</a>
                    </li>
                    <li>
                        <a href="#">Locations</a>
                    </li>
                    <li>
                        <a href="#">Purchasing</a>
                    </li>
                </ul>
                <a href="/home" class="corporate-link"></a>
                <a href="/home" class="brand-link"></a>
            </div>
        </div>
        <div class="header-bottom">
            <div class="sized-container">
                <ul class="nav-bar">
                    <li>
                        @Html.ActionLink("Admin", "Index", "Account")                   
                    </li>
                    <li>
                        @Html.ActionLink("Newsletter", "Newsletter", "Home")           |
                    </li>
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")           |
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <figure class="logo"></figure>
    </div>

    <div>
        @RenderBody()
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
          $('#myInput').focus()
        })
    </script>
</body>
</html>
